@use "styles/mixins";
@use "styles/typography";
@use "styles/media";

.container {
  @include mixins.layout;
  display: flex;
  margin-top: 200px;
  @include media.for-phone {
    display: block;
    margin-top: 50px;

  }

}

.leftBlock {
  width: 40%;
  @include media.for-phone {
    width: 100%;
    padding-left: 10px;
  }
}

.rightBlock {
  width: 60%;
  @include media.for-phone{
    display: block;
    width: 100%

  }
}

.image {
  width: 100%;
  @include media.for-phone{
    width: 0%;
  }
}

.title {
  @include typography.h2;
  margin-bottom: 140px;
  @include media.for-phone{
    margin-bottom: 20px;
    width: 100%;
  }

}