@use 'styles/mixins';
@use 'styles/media';

.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: white;
}

.wrapper {
  width: 100%;
  height: 80px;
  @include mixins.layout;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: red;

  img {
    height: 40px;
  }
}
.phone {
  font-weight: 700;
  font-size: 36px;
  color: black;
}
.caption {
  display: block;
  font-weight: 400;
  font-size: 18px;
}