@use "styles/mixins";
@use "styles/typography";
@use "styles/media";

.container {
  display: flex;
  @include mixins.layout;
  margin-top: 80px;
  @include media.for-phone {
    display: block;
  }
}

.title {
  @include mixins.layout;

  @include media.for-phone {
    padding: 0;
  }
}

.titleText {
  @include typography.h1;
}
.btnForCall{
  height: 60px;
  width: 300px;
  border-radius: 40px;
  background-color: orange;
  color: #fff;
  font-size: 1em;
  border: none;
  outline: none;
  cursor: pointer;
  transition: .5s;
  @include typography.h3;
  &:hover {
    color: black;
  }
  @include media.for-phone {
    width: 100%;
    justify-content: center;
  }
}
.button {

}

.textMobile {
  @include typography.body;
}

.text {
  @include typography.body;
  padding-left: 24px;

  p {
    margin: 12px 0;
  }

  @include media.for-phone {
    padding-left: 0;
  }
}