@use "styles/mixins";
@use "styles/typography";
@use "styles/media";

.container {
  position: relative;
  @include mixins.layout;
  display: flex;
  align-items: center;
  width: 1200px;
  margin-top: 100px;
  margin-bottom: 150px;
  @include media.for-phone {
    display: block;
  }
}
.anchor{
  top: -230px;
  position: absolute;
  @include media.for-phone{
    top: -150px;
  }
}
.card1 {
  text-align: center;
  width: 400px;
  @include media.for-phone {
    margin-bottom: 40px;
    width: 100%;
  }
}
.li {
  list-style-type: none;
}
.card2 {
  text-align: center;
  width: 400px;
  @include media.for-phone {
    margin-bottom: 40px;
    width: 100%;
  }

}

.card3 {
  text-align: center;
  width: 400px;
  @include media.for-phone {
    margin-bottom: 40px;
    width: 100%;
  }
}

.title {
  margin-top: 30px;
  @include typography.h3

}

.text {
  @include typography.body;
  @include media.for-phone{
    font-size: 15px;
  }
}
