@use "styles/mixins";
@use "styles/typography";
@use "styles/media";

.container {
  background: #3F3F3F;

}

.logoContainer {
  display: flex;
  justify-content: center;
  @include mixins.layout;
}

.logo {
  margin-top: 80px;
  margin-bottom: 90px;
  width: 380px;
  object-fit: contain;
  @include media.for-phone {
    margin-top: 100px;
    margin-bottom: 70px;
    width: 80%;

  }
}

.line {
  margin-top: 60px;
  border: 1px solid #ACACAC;
  border-bottom: 0;
}

.content {
  display: flex;
  align-items: center;
  @include mixins.layout;
  justify-content: space-between;
  margin-top: 36px;
  margin-bottom: 70px;

  @include media.for-phone {
    display: block;
  }
}

.phoneNumber {
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.text {
  color: white;
  @include typography.body;
  @include media.for-phone {
    margin-top: 24px;
  }
}

.container2 {
  background: #2C2C2C;
}

.developer {
  color: white;
  @include mixins.layout;
  padding-top: 50px;
  padding-bottom: 50px;
  @include typography.body;
}

