@use '/styles/media';
@use '/styles/typography';
@use '/styles/mixins';

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 60px;

  @include media.for-phone {
    margin-top: 160px;
  }
}

.carBanner {
  max-width: 100%;
  object-fit: contain;
}

.content {
  @include mixins.layout;
  max-width: 600px;
}

.backgroundPhotoBanner {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  top: 250px;
  background: url("/background-photo-banner.svg") no-repeat center;
  background-size: contain;
  height: 300px;
  z-index: -1;

  @include media.for-phone {
    top: 300px;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 50px;
  bottom: 50px;
  height: 80px;
  width: 80px;
  border-radius: 50px;
  background-color: orange;
  color: aliceblue;
  transition: .9ms;
  @include media.for-phone {
    right: 25px;
    bottom: 25px;
    height: 60px;
    width: 60px;
    border-radius: 30px;
  }

  svg {
    width: 40px;
    height: 40px;
  }
    &:hover {
      background-color: #ff9900;
    }

    @include media.for-phone {
      right: 24px;
      bottom: 24px;
    }
  }
.title {
  text-align: center;
  @include typography.h1;
}
  .text {
    text-align: center;
    @include typography.body;
  }

  .socialMedia {
    @include mixins.layout;
    @include typography.caption;
    margin-top: 40px;
  }

  .vk {
    display: flex;
    align-items: center;
    margin-top: 12px;
  }

  .vkImage {
    margin-right: 10px;
    width: 24px;
    height: 24px;
  }

