@use "styles/mixins";
@use "styles/typography";
@use "styles/media";

.container {
  display: block;
  @include mixins.layout;
  @include media.for-phone {
  }

}

.line {
  margin-top: 60px;
  border: 1px solid #8D8D8D;;
  @include media.for-phone {
    margin-top: 60px;
    border: 1px solid #8D8D8D;
  }
}

.text {
  @include typography.body;
  text-align: left;
  padding-top: 120px;
  padding-bottom: 60px;

  @include media.for-phone {
    text-align: left;
    padding-top: 80px;
    padding-bottom: 26px;
    font-size: 16px;
  }

}

.phoneNumber {
  text-align: left;
  font-size: 60px;
  font-weight: bold;

  @include media.for-phone {
    font-size: 22px;
  }

}

.text2 {
  @include typography.body;
  text-align: left;
  padding-top: 40px;
  padding-bottom: 100px;
  @include media.for-phone {
    padding-bottom: 100px;
    padding-top: 24px;
  }
}
